* {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.left {
    background: url('./images/tokyo-street1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 35vw;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.right {
    display: flex;
    flex-direction: column;
    background-color: green;
    width: 65vw;
}

.top {
    height: 20vh;
    display: flex;
    align-items: flex-end;
    padding-left: 5%;
    padding-bottom: 2%;
    padding-right: 10%;
    background: #F6F6F6;
}

.middle {
    height: 50vh;
    background-color: #fff;
}

.main-form {
    display: flex;
    flex-direction: row;
}

.form-div {
    display: flex;
    flex-direction: column;
}

.bottom {
    height: 30vh;
}

